<!-- <app-titulo [titulo]="'Sobre nós'"></app-titulo> -->
<div class="jumbotron">
  <div class="container">
    <img src="../../../assets/img/LogoMarcaCasinha.png" class="float-right">
    <h1 class="display-3">Sobre nós</h1>
    <p>
      Inaugurado em 2009 oferecendo imóveis com atividade fim de corretagem Na compra, venda E avaliação De Imóveis.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Missão</h2>
      <p>Atuar no Mercado imobiliário, com foco na locação, venda, regularização e avaliação de imóveis, garantindo a
        satisfação dos clientes na prestação de serviços, através do comprometimento e qualificação contínua dos nossos
        colaboradores, da confiança e da credibilidade mantida ao longo dos nossos 12 anos de experiência profissional
      </p>
    </div>
    <div class="col-md-4">
      <h2>Visão</h2>
      <p>
        Ser líder no mercado imobiliário e manter e reconhecimento adquirido, estando entre as melhores administradoras
        de imóveis de Porto Velho. Expandir nosso volume de locações e venda de imóveis por meio da qualidade dos nossos
        serviços e da profissionalização da nossa estrutura organizacional
      </p>
    </div>
    <div class="col-md-4">
      <h2>Valores</h2>
      <p>
        Nossos valores são fundamentais para a gestão e administração dos negócios, de modo a garantir o melhor
        relacionamento interno e externo, são eles: Ética, Justiça, Respeito, Eficiência, Solidariedade,
        Comprometimento, Bom relacionamento interpessoal
      </p>
    </div>
  </div>
</div>