<div class="row">
  <div [ngClass]="{'col-md-8': modoEditar, 'col-md-12' : !modoEditar}">
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
          <div class="p-3">
              <!-- <p>form: value{{form.value | json}}</p>
              <p>Form valid: {{form.status | json}}</p> -->
              <div class="form-row">
                  <div class="form-group col-md-12">
                      <label>Nome</label>
                      <input type="text" class="form-control"
                      [ngClass]="{'is-invalid' : f.nome.errors && f.nome.touched}"
                      formControlName="nome" [(ngModel)]="imovel.nome" placeholder="Insira o nome do imóvel">
                      <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
                          Nome do imóvel é obrigatório
                      </div>
                      <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
                          Nome do imóvel deve ter no mínimo 4 caracteres
                      </div>
                      <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
                          Nome do imóvel deve ter no máximo 50 caracteres
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                      <label>Descrição</label>
                      <input type="text" class="form-control"
                      [ngClass]="{'is-invalid' : f.descricaoImovel.errors && f.descricaoImovel.touched}"
                      formControlName="descricaoImovel" placeholder="Insira a descrição do imóvel">
                      <div *ngIf="f.descricaoImovel.errors?.required" class="invalid-feedback">
                          a descrição do imóvel é obrigatório
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label>Tipo de imóvel</label>
                      <select formControlName="tipoImovel" class="form-control"
                      [ngClass]="{'is-invalid' : f.tipoImovel.errors && f.tipoImovel.touched}">
                  <option value=""></option>
                  <option value="casa">Casa</option>
                  <option value="apartamento">Apartamento</option>
                  <option value="outros">Outros</option>
                  </select>
                      <!-- <input type="text" class="form-control"
                      [ngClass]="{'is-invalid' : f.tipoImovel.errors && f.tipoImovel.touched}"
                      formControlName="tipoImovel" placeholder="Insira o tipo do imóvel"> -->
                      <div *ngIf="f.tipoImovel.errors?.required" class="invalid-feedback">
                          o tipo do imóvel é obrigatório
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                      <label>Área</label>
                      <input type="text" class="form-control"
                      [ngClass]="{'is-invalid' : f.area.errors && f.area.touched}"
                      formControlName="area" placeholder="Insira a área do imóvel">
                      <div *ngIf="f.area.errors?.required" class="invalid-feedback">
                          A área do Imóvel é obrigatório
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-8">
                      <label>Endereço</label>
                      <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': f.endereco.errors && f.endereco.touched}"
                      formControlName="endereco" placeholder="" [(ngModel)]="imovel.endereco">
                      <div *ngIf="f.endereco.errors?.required && f.endereco.touched" class="invalid-feedback">
                          Endereço É obrigatório
                      </div>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Data Cadastrado</label>
                      <input type="datetime" class="form-control"
                      [ngClass]="{'is-invalid': f.dataImovelCadastrado.errors && f.dataImovelCadastrado.touched}"
                      value="{{imovel.dataImovelCadastrado | DateTimeFormatPipe}}"
                      bsDatepicker 
                      [bsConfig]="bsConfig"
                      formControlName="dataImovelCadastrado" placeholder="" [(ngModel)]="imovel.dataImovelCadastrado" >
                      <div *ngIf="f.dataImovelCadastrado.errors?.required && f.dataImovelCadastrado.touched" class="invalid-feedback">
                          Data cadastrado É obrigatório
                      </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-2">
                      <label>Qtd de Quartos</label>
                      <input type="number" class="form-control"
                      [ngClass]="{'is-invalid': f.qtdQuartos.errors && f.qtdQuartos.touched}"
                      formControlName="qtdQuartos" placeholder="" [(ngModel)]="imovel.qtdQuartos">
                      <div *ngIf="f.qtdQuartos.errors?.required && f.qtdQuartos.touched" class="invalid-feedback">
                          Qtd de quartos É obrigatório
                      </div>
                      <div *ngIf="f.qtdQuartos.errors?.max && f.qtdQuartos.touched" class="invalid-feedback">
                          Qtd de quartos dev ser menor que 4
                      </div>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Telefone</label>
                      <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}"
                      formControlName="telefone" placeholder="(000) 90000-0000" [(ngModel)]="imovel.telefone">
                      <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feedback">
                          Telefone É obrigatório
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                      <label>Email</label>
                      <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
                      formControlName="email" placeholder="e-mail" [(ngModel)]="imovel.email">
                      <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
                          e-mail É obrigatório
                      </div>
                      <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
                         deve ser um endereço de e-mail válido
                      </div>
                  </div>

              </div>
          </div>
          <div class="card-footer">
              <div class="d-flex">
                  <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
                      Cancelar Alteração
                  </button>
                  <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarImovel()">
                      <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                      Salvar Imóvel
                  </button>
              </div>
          </div>
      </form>
      </div>
      <div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">
          <div class="p-3">
            <div class="d-flex border-bottom">
              <h2 class="mr-auto">
                Preços do imóvel
              </h2>
              <h2>
                <i class="fas fa-money-bill-wave"></i>
              </h2>
            </div>
            <p>Clique em Preço para adicionar e preencher novos Preços</p>
            <div class="form-row p-1">
              <div [formGroup]="form" class="col">
                <div formArrayName="precos" *ngFor="let preco of precos.controls; let i=index">
                  <fieldset [formGroupName]="i" class="form-group">
                    <legend class="d-flex justify-content-between capitalize">
                      {{retornaTituloPreco(precos.get(i+'.descricao')?.value)}}
                      <button (click)="removerPreco(template, i)" class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                        tooltip="Excluir Preço"
                        [adaptivePosition]="false"
                        [delay]="500"
                        placement="left">
                      <i class="fa fa-window-close my-1"></i>
                      <b class="ml-1 d-none d-sm-block">Excluir</b>
                    </button>
                  </legend>
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label>Descrição</label>
                      <input 
                      [ngClass]="{'is-invalid': precos.get(i+'.descricao')!.errors && precos.get(i+'.descricao')!.touched}"
                      type="text" class="form-control" formControlName="descricao" placeholder="Preço">
                    </div>
                    <div class="form-group col-md-4">
                      <label>Valor</label>
                      <input
                      type="text" 
                      currencyMask
                      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                      [ngClass]="{'is-invalid': precos.get(i+'.valor')!.errors && precos.get(i+'.valor')!.touched}"
                      class="form-control" formControlName="valor" placeholder="R$ 0,00">
                    </div>
               
                
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <button (click)="adicionarPreco()" class="d-flex btn btn-outline-primary">
            <i class="fa fa-plus-circle my-1"></i>
            <b class="ml-1">Preço</b>
          </button>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar Alteração
            </button>
            <button [disabled]="!form.controls.precos.valid" (click)="salvarPrecos()" class="btn btn-success">
              Salvar Preços
            </button>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4" *ngIf="modoEditar">
    <div [formGroup]="form" class="card-evento-view shadow-sm">
      <div class="form-row">
        <div class="form-group m-0">
          <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img class="image" [src]="imagemURL" class="img-fluid" (click)="file.click()" alt="Card image cap"
          tooltip="Uplaod de Nova Imagem" [adaptivePosition]="false" placement="bottom" />
        </div>
        <div class="card-body pt-3">
          <h4>{{imovel.nome}}</h4>
          <p class="card-text">
            <b>Local:</b> {{imovel.endereco}}
            <br>
            <b>Data:</b> {{imovel.dataImovelCadastrado | DateTimeFormatPipe}}
          </p>
          <hr>
          <p class="card-text">
            <b>Contatos</b><br>
            <small class="text-muted">Telefone: {{imovel.telefone}}</small>
            <br>
            <small class="text-muted">e-mail: {{imovel.email}}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{imovel.qtdQuartos}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a href="">
                <i class=""></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br>

<ng-template #template>
  <div class="modal-body text-center">
      <p>Tem certeza que quer deletar o preço {{this.precoAtual.descricao}}?</p>
      <button type="button" class="btn btn-default" (click)="confirmDeletePreco()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="declineDeletePreco()">Não</button>
  </div>
</ng-template>
